<ul>
    <li>przelew 1</li>
    <li>przelew 1</li>
    <li>przelew 1</li>
    <li>karta 1</li>
    <li>karta 1</li>
</ul>
<ul>
    <li>karta 1</li>
    <li>karta 1</li>
    <li>karta 1</li>
</ul>